.movie {
    display: grid;
    grid-template-areas:
    "img header"
    "img info";
    grid-gap: 20px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}

.movie__img {
    width: 100%;
    max-width: 180px;
    height: 280px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    grid-area: img;
}

.movie__img img {
    width: 100%;
}


.movie__header {
    grid-area: header;
    padding-top: 2%;
    padding-right: 2%;
}
.movie__info {
    grid-area: info;
    padding-bottom: 4%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
}

.movie__rating {
    margin-top: auto;
}

.movie__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie__title {
    font-size: 20px;
    line-height: 28px;
}

.movie__average {
    font-size: 12px;
    font-weight: 400;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid rgba(233, 209, 0, 1);
}

.movie__date {
    font-size: 12px;
    line-height: 22px;
    color: #827E7E;
    margin-bottom: 8px;
}

.movie__genre {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.movie__genre_item {
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 2px 5px;
    width: auto;
    margin-right: 8px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}



@media screen and (max-width: 550px){
    .movie {
        grid-template-areas:
        "img header"
        "info info";
        grid-gap: 10px;
        grid-template-columns: 60px auto;
        padding: 2%;
    }

    .movie__img {
        width: 100%;
        max-width: 60px;
        min-width: 60px;
        height: 90px;
        grid-area: img;
    }

    .movie__info {
        padding-bottom: 0;
    }

    .movie__rating {
        align-self: end;
    }

}